.landing-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__search-wrapper {
    width: 33vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    margin-top: 5%;
    padding: 1rem;
  }
}
